dataset/*
!dataset/.gitkeep
*.pt
__pycache__/
github/
*.pkl
*.pickle
*.hf5
wandb/
slurm-*.out
wandb/
.ipynb_checkpoints/
.vscode
language_generation/src/settings.py
language_generation/results/*
slurm-*.out
.DS_Store
data_lm/
end2end_generation/results/*
word_rate/results/*
trash/
paper/
